// out: false
@import "vars.less";

.mainform { 
    grid-area: mainform; 
    background-color: @main_form_bg_color;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 54px 47% 44%;
    grid-gap: 10px;
    grid-template-areas: 
        "pageHeader pageHeader"   
        "tableContainer picture"
        "tableContainer description";
    padding-bottom: 10px;
    padding-left: 10px;
    max-height: 100%;
}

.tableContainer, .picture, .description, .homeContainer,.feedbackContainer {
    // outline: 1px dotted lightblue;
    background-color: @sidebar_bg_color;
}

.pageHeader {
    grid-area: pageHeader;
}

.pageHeaderMenu {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: @mainFontSize;
    height: 100%;
}
.homeContainer {
    height: 400px;
}
.tableContainer {
    grid-area: tableContainer;
    max-height: 80vh;
    overflow-y: auto; 
    
}
.feedbackContainer, .homeContainer {
    overflow-y: auto;
}

.tableList {
    width: 100%;
    
}
.tableList li {
    display: block;
    padding: 20px 10px;
    margin: 0 3%;
    font-size: @mainFontSize;
    width: 92%;
    border-bottom: 1px solid @main_form_bg_color;  
    max-height:100%;
    color: @main_font_light;
}

.picture {
    grid-area: picture;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.picture img {
    max-height: 90%;
}

.description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: flex-start;
    max-height: 40vh;
    overflow-y: auto;
}
.descList {
    width: 100%;
}
.descList li {

    display: block;
    color: @main_font_light;
    padding: 20px;
    font-size: @mainFontSize;    
}
.descItem:nth-child(2n) {
     background-color: @sidebar_bg_active;
}
.feedbackContainer {
    padding: 10px;
}
.inputFieldFeedback {
    min-width: 250px;
    background-color: @search_bg_color;
    color: @search_font_color;
    margin: 10px 0;
}
    
.inputFieldFeedback, .inputFieldFeedback:active, .inputFieldFeedback:focus, .inputFieldFeedback:hover {
    outline: none;
    outline-offset: 0;
    border: none;
    padding: 5px 10px;
} 
