// out: false

.header { 
    grid-area: header; 
    height: 100px;
    border: 1px solid whitesmoke;
    
}
.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    list-style-type: none;
}
.headerMenuItem {
    margin: 10px;
    border: 1px dotted lightblue;
}
.searchBar {
    flex: 1 1 auto;
}