@import "vars.less";


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: @bg_main_color;
    color: @main_font_dark;
}
.container {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: 100px, 800px, 100px; 
    gap: 5px; 
    height: 90%;
    margin: 5%, 5%;
    grid-template-areas:
        "header header header header header"
        "sidebar mainform mainform mainform mainform "
        "footer footer footer footer footer ";
}

@import "header.less";
@import "sidebar.less";
@import "mainform.less";
@import "footer.less";


